<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>

  <style>

    input{
      width: 360px;
      height: 20px;
      margin: 5px;
      justify-content: center;
      align-items: center;
    }
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(224, 30, 16, 0.644);
      width: 500px;
      height: 800px;
    }
    .areaInput{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input:focus, textarea:focus {
      border-color: #000;
    }
    textarea{
      height: 120px;
      width: 360px;
    }
    .button{
      display: flex;
      justify-content: center;
    }
    button{
      width: 120px;
      height: 20;
      border-radius: 5px;
      background-color: darkcyan;
    }
    select{
      height: 20px;
      width: 364px;
    }
    .radioArea{
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body >
  
  
  <div class="container">
    
    <div class="areaInput">
      
      <form action="/show" method="POST">
        <h1 style="text-align: center;">Cadastrar Aluno Academia</h1><br/>
        <input class="input" type="text" placeholder="Nome" name="name"><br/>
        <input class="input" type="text" placeholder="Sobrenome" name="surname"><br/>
        <input class="input" type="email" placeholder="Email" name="email"><br/>
        <input class="input" type="text" placeholder="CPF" name="cpf"><br/>
        <input class="input" type="text" placeholder="Numero" name="numero"><br/>
        <input class="input" type="number" placeholder="Idade" name="idade"><br/>
        <input class="input" type="number" placeholder="Peso" name="peso"><br/>
        <div class="selectArea">
          <p>Escolha o tipo de exercicio:</p>
          <select name="exercicio">
            <option value="Musculaçao">Musculaçao</option>
            <option value="Zumba">Zumba</option>
            <option value="Crossfit">Crossfit</option>
            <option value="Aerobico">Aerobico</option>
          </select><br/>
        </div>
        <div class="radioArea">
          <input type="radio" id="male" name="genero" value="masculino">
          <label for="male">Masculino</label><br>
          <input type="radio" id="female" name="genero" value="feminino">
          <label for="female">Feminino</label><br>
          <input type="radio" id="other" name="genero" value="outro">
          <label for="other">Outro</label>
        </div>
        <h4 style="text-align: center;">Observação</h1>
        <textarea name="msg" placeholder="Escreva aqui as suas Observações"></textarea><br><br>
        
        <div class="button">
          <button type="submit">CADASTRAR</button>
        </div>
        
      </form>
    </div>
    
  </div>
    

</body>
</html>